.top{
    width: 100vw;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 99;
}
.topLeft, .topRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCenter{
    flex: 6;
}
a{
    text-decoration: none;
    color: #085f39;
    margin-top: 15px;
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300px;
    cursor: pointer;
    text-decoration: none;
}
.topSearchIcon{
    font-size: 18px;
    color: #666;
    cursor: pointer;
    margin-left: 15px;
}
.header{
    margin-top: 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    color: #444;
}
.headerTitleSm{
    position: absolute;
    top:13%;
    font-size: 20px;
    font-family: 'Caveat';
}
.headerTitleLg{
    position: absolute;
    margin-top: 70px;
    font-size: 100px;
    font-family: 'Amatic SC';
}
.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}
.content{
    position: relative;
}
.content h2{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8em;
}
.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #085f39;
}
.content h2:nth-child(2){
    color: #bfede1;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}
.home{
    margin-top: 30px;
    display: flex;
}
.sidebar{
    flex: 3;
    width: 25vw;
}
.postList{
    flex: 9;
}
.postListWrapper{
    display: flex;
}
.post{
    width: 33vw;
    margin: 0px 25px 40px 25px;
}
.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
}
.postDate{
    font-family: 'Lora', serif;
}
.postDesc{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
}
.sidebar{
    flex: 3;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fbfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarImg{
    width: 200px;
    height: 200px;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top:  1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
}
.sidebarItem >p{
    padding: 30px;
}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
}
.sidebarSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarIcon{
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
@media(max-width:768px){
    .content h2{
        font-size: 3em;
    }
}
@media(max-width:390px){
    .content h2{
        font-size: 1em;
    }
    .home{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .postListWrapper{
        display: flex;
        flex-direction: column;
    }
    .post{
        width: 66vw;
    }
    .sidebar{
        margin: auto;
    }
    .content{
        position: relative;
    }
    .content h2{
        position: absolute;
        transform: translate(-50%,-50%);
        font-size: 8em;
    }
}
.pool {
    width: 100%;
    height: 400px;
    background-image: url('https://media.vov.vn/sites/default/files/styles/large/public/2022-05/s7_6.jpg');
    position: relative;
    overflow: hidden;
    z-index: -999;
    margin-top: 80px;
  }
  
.person {
    width: 50%;
    height: 500px;
    background-image: url('https://ss-images.saostar.vn/wp700/2018/11/09/4026073/aquaman-arthur-curry-character-poster.jpg');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: swim 2s infinite;
  }

.music {
    width: 100%;
    height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bXVzaWN8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    position: relative;
    overflow: hidden;
    z-index: -999;
    margin-top: 80px;
  }
.doremi{
    width: 40%;
    height: 100%;
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg_NJ9--JT_O8vCz5IRzg8GgafKvmx1D6o6QjTqITgCkLbR3ZfKNNaY9_Cm6kUU4O7VGGoIcRIpUuyUHgE9j660FZfoQeKSlqfZTPqK4uXlkScJjL0U-CgxD_d_TKgsq0WjUO6jCpLAAE4ctXWOdLL_WB3JGrzhuABajAc7OoA9WDtFZGhO8p-yLVAbWg/w640-h640/music.jpg');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: swim 2s infinite;
  }
  .life {
    width: 100%;
    height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1517960413843-0aee8e2b3285?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80');
    position: relative;
    overflow: hidden;
    z-index: -999;
    margin-top: 80px;
  }
.lifeItem{
    width: 40%;
    height: 100%;
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjQBZXuXrweF6ytyd6tuirudOA9hNGnQW2wjud2w1L3L_H-2qUse7nAgfDNIhw-N18bjwby3_h0fG-twlc6_oS3hJYRAQCJFFDSW1mUKmN0Us03f2pQhh7pwB6_iuSGk4vZRGegmdtGZ-XZgNt-9XZfg4BJcK05oo7Mxv92jX6C4S1ndmwRvoXVwHuz3Q/w640-h480/life.jpg');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: swim 2s infinite;
  }

  .book {
    width: 100%;
    height: 60vh;
    background-image: url('https://d3dzzbbvj9im7s.cloudfront.net/media/wysiwyg/homepage/Shakespeare.jpg');
    position: relative;
    overflow: hidden;
    z-index: -999;
    margin-top: 80px;
  }
.bookItem{
    width: 40%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b3BlbiUyMGJvb2t8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: swim 2s infinite;
  }

  .cook {
    width: 100%;
    height: 60vh;
    background-image: url('https://vietgiao.edu.vn/wp-content/uploads/2021/04/nau-an-ngon-1.jpg');
    position: relative;
    overflow: hidden;
    z-index: -999;
    margin-top: 80px;
  }
.cookItem{
    width: 40%;
    height: 100%;
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEja_zwB941eg1kMkCPsBW-niwsKScLg9-I47bkwg5QRw6Tk8Q7zEi0XoPa5fcvV_hq0eJ9UKYEgwTbpcRVfnXO35z1dGMhDkPCGW3RAWDmNXaqdMWk9z9yOwxVmFWfqrm_2M2oOwH7iPbecVY7mLQcN5KzCHAT0buXIX6sQfVQLgPNkcS03Y619vbg2ag/w640-h640/cook.jpg');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: swim 2s infinite;
  }

  .code {
    width: 100%;
    height: 60vh;
    background-image: url('https://cloudify.vn/wp-content/uploads/2021/11/code.jpg');
    position: relative;
    overflow: hidden;
    z-index: -999;
    margin-top: 80px;
  }
.codeItem{
    width: 15%;
    height: 100%;
    background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEirsetTrUIrfKc84vUMYE8R7KIfqeNVOFGy3Q8vJJLH8AJo90bR8F59aSL7AQj_F1UIzQx-b5o95z94S9HuSz1hjtX-Ar3K8jNPuesb9MXdS53_69ka0LYs8W-3XJo2EXp_BGYha-MqlRIhi5m5oTHjMs9BoYRc_ZrB0uAyGOe5QQkCcaIVymUP6cHkNQ/w225-h400/code.jpg');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: swim 2s infinite;
  }
  @keyframes swim {
    0%, 100% {
      transform: translateX(-50%);
    }
    50% {
      transform: translateX(-50%) translateY(-10px);
    }
  }
